<!DOCTYPE html>
<html>
    <head><title>Welcome</title></head>
    <body>
     <a href="/">Home</a><br>
    
        {{if .}}
        <main>
            {{range $key,$value := .}}
               
                <ul>
                    {{range $value}}
                    <li>{{.}}</li>
                    {{end}}
                </ul>
            {{end}}
        </main>
        {{end}}
        <form action="/login" method="GET">
            <input type="text" name="fname" placeholder="First Name" autofocus autocomplete="given-name"/>

            <input type="text" name="lname" placeholder="Last Name" autofocus autocomplete="off"/>
            
            <input type="submit" name="OnSubmit" value="submitted"/>
        </form>

    </body>
</html>